{%extends 'base.html' %}
{% block content %}
<h1>{{ name_app }}</h1>

<h5>Name: </h5>
<h5>{{ name }}</h5> 
<h5>Class: </h5>
<h5>{{ class }}</h5>
<br>
<h5>User Login: </h5>
<h5>{{ user_login }} </h5>

{% if not cat_entries %}
<p>Belum ada data kucing pada catshop.</p>
{% else %}
<table>
  <tr>
    <th>Cat Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% comment %} Berikut data cat di bawah baris ini 
  {% endcomment %} 
  {% for cat_entry in cat_entries %}
  <tr>
    <td>{{cat_entry.name}}</td>
    <td>{{cat_entry.price}}</td>
    <td>{{cat_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_cat_entry' %}">
  <button>Add New Cat Entry</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}