{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Cat Store</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-green-100 flex flex-col">
  
  <div class="px-3 mb-4">
    <div class="flex rounded-md items-center bg-yellow-600 py-2 px-4 w-fit">
      <h1 class="text-white text-center">Last Login: {{ last_login }}</h1>
    </div>
  </div>

  <div class="flex justify-end mb-6">
    <a href="{% url 'main:create_cat_entry' %}" class="bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Cat Entry
    </a>
  </div>
  
  {% if not cat_entries %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
      <img src="{% static 'img/sedih-banget.png' %}" alt="Sad cat" class="w-32 h-32 mb-4"/>
      <p class="text-center text-gray-600 mt-4">Belum ada data cat pada cat store.</p>
    </div>
  {% else %}
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
      {% for cat_entry in cat_entries %}
        {% include 'card_cat.html' with cat_entry=cat_entry %}
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock content %}
